name: tests

on:
  issue_comment:
    types: [created, edited]

permissions:
  contents: read
  pull-requests: read
  checks: write

defaults:
  run:
    shell: bash

jobs:
  run-if-requested:
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '/run-tests') }}
    runs-on: ubuntu-latest
    steps:
    - name: Set PR variables
      id: pr
      uses: actions/github-script@v8
      with:
        script: |
          const pr = await github.rest.pulls.get({
            owner: context.repo.owner,
            repo: context.repo.repo,
            pull_number: context.issue.number
          });
          core.setOutput('sha', pr.data.head.sha);
    outputs:
      sha: ${{ steps.pr.outputs.sha }}

  tests:
    needs: [run-if-requested]
    if: ${{ needs.run-if-requested.result == 'success' }}
    name: "tests"
    runs-on: ubuntu-latest
    steps:

    - name: Report tests check
      uses: actions/github-script@v8
      id: check-run
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const check = await github.rest.checks.create({
            name: 'run tests',
            head_sha: '${{ needs.run-if-requested.outputs.sha }}',
            status: 'in_progress',
            details_url: '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}',
            ...context.repo
          })
          return { id: check.data.id }

    - name: Check out code
      uses: actions/checkout@v4
      with:
        ref: ${{ needs.run-if-requested.outputs.sha }}

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'

    - name: Test
      id: tests-step
      run: go test -v ./...

    - name: Report tests check
      if: success() || failure()
      uses: actions/github-script@v3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const resp = await github.rest.checks.update({
            name: 'run tests',
            check_run_id: ${{ fromJSON(steps.check-run.outputs.result).id }},
            head_sha: '${{ needs.run-if-requested.outputs.sha }}',
            status: 'completed',
            conclusion: '${{ steps.tests-step.outcome }}',
            output: {
              title: 'Run tests',
              summary: 'Results: ${{ steps.tests-step.outcome }}'
            },
            ...context.repo
          })
          aconsole.log(`Check run create response: ${resp.status}`)
          console.log(`Check run URL: ${resp.data.url}`)
          console.log(`Check run HTML: ${resp.data.html_url}`)
